.button {
	padding: 0.5em 1.5em;
	margin: 5px;
	font-size: 2em;
	background: $main-background;
	border: $border-thick;
}

.button-small {
	@extend .button;
	font-size: 1em;
}

.button[disabled], .button-small[disabled] {
	opacity: 0.5;
	cursor: default;
}

button:hover {
	cursor: pointer;
}

button:active {
	background: $main-active-color;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex-center {
	@extend .flex;
	justify-content: center;
}

.flex-center-center {
	@extend .flex-center;
	justify-content: center;
	align-items: center;
}