.button {
	padding: 0.5em 1.5em;
	font-size: 2em;
	background: $main-background;
	border: 2px solid black;
}

.button:hover {
	cursor: pointer;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.center {
	justify-content: center;
}

.center-center {
	justify-content: center;
	align-items: center;
}