$main-font: Helvetica, Arial, sans-serif;
$main-color: #000;
$main-background: #fff;
$main-active-color: #ddd;

$board-background: #dfdfdf;
$board-width-large: 75vh;
$board-width-small: 95vw;

$square-width-large: calc(#{$board-width-large} / 3);
$square-background: #fff;
$square-font-size-large: calc(#{$board-width-large} / 4);
$square-font-size-small: calc(#{$board-width-small} / 4);
$square-font-weight: 100;
$square-width-small: calc(#{$board-width-small} / 3);

$border-thick: 2px solid black;
$border-thin: 1px solid black;

$tab-padding: 0.5em 1.5em;
$tab-font-size: 20px;
$tab-color: #fff;
$no-offset: 0px;
$big-offset: 10vw;

$player-background: #0333a1;
$computer-background: #9f0009;

$win-draw-background: #0f6f01;