@import 'variables';
@import 'shared-styles';

html, body {
	margin: 0;
	padding: 0;
	font-family: $main-font;
	color: $main-color;
	overflow: hidden;
}

h1 {
	width: 100vw;
	text-align: center;
	font-weight: 100;
	margin: 20px 0;
	transition: transform 300ms;
}

.title-intro {
	transform: translateY(3em) scale(1.75, 1.75);
}

#startForm {
	margin: 5em auto;
	z-index: 10;
	transition: transform 300ms, z-index 300ms, height 300ms, margin 300ms;
}

h2 {
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-weight: 100;
	margin: 1em;
}

.options {
	width: 100vw;
	margin: 20px auto;

	input {
		display: none;
	}

	label {
		margin: 0.25em;
		padding: 0.5em 1.5em;
		cursor: pointer;
		font-size: 2em;
	}

	input:checked + label {
		background: #000;
		color: #fff;
	}
}

#game {
	opacity: 1;
	z-index: 10;
	margin: 0 auto 10em auto;
	transition: transform 300ms, opacity 1000ms, z-index 300ms;
}

#controlPanel {
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto 20px auto;
	opacity: 1;
}

#board {
	width: $board-width-large;
	height: $board-width-large;
	background: $board-background;
	opacity: 1;
}
@media (max-width: 550px) {
	#board {
		width: $board-width-small;
		height: $board-width-small;
	}
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.square {
	box-sizing: border-box;
	width: $square-width-large;
	height: $square-width-large;
	background-color: $square-background;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	transition: background 150ms;
	font-size: $square-font-size-large;
	font-weight: $square-font-weight;
	text-align: center;
}
@media (max-width: 550px) {
	.square {
		width: $square-width-small;
		height: $square-width-small;
		font-size: $square-font-size-small;
	}
}

.square-top {
	border-top: $border-thick;
}

.square-right {
	border-right: $border-thick;
}

.square-bottom {
	border-bottom: $border-thick;
}

.square-left {
	border-left: $border-thick;
}

.square:hover {
	cursor: pointer;
}

.hide-down {
	z-index: -10 !important;
	opacity: 0 !important;
	transform: translateY(2000px) !important;
}

.hide-shrink {
	z-index: -10 !important;
	transform: scale(0,0) !important;
	height: 0 !important;
	margin: 0 !important;
}